@import './_mixins.scss';

// 節目列表
.tvs {
  width: 100%;
  margin: 0;
  .tv_card {
    // padding: 0 2rem;
    // padding-right: 2rem;
  }
  .card {
    // border: none;
    width: 100%;
    border-radius: 20px;
    margin: 1rem 0;
    overflow: hidden;
    .card_header, .card_body, .card_footer {
      width: 100%;
    }
    .card_header {
      @include flex(center);
      background-color: $primary;
      color: #FFF;
      padding: 0.5rem 0;
    }
    .card_body {
      @include size(100%, calc((100vw - 20rem - 90px) / 3));
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .card_footer {
      background-color: #FFF;
      padding: 0 1rem 1rem 1rem;
      .play_date, .play_intro {
        margin: 0;
        margin-top: 5px;
        margin-bottom: 5px;
      }
      .hr {
        @include size(70%, 2px);
        display: block;
        background-color: $primary;
      }
      .play_date {
        font-weight: bold;
      }
      .play_intro {
        .readmore {
          color: #808080;
        }
      }
    }
  }
}
