main {
  width: 100%;
}

main .back {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0;
}

main .back button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

main .back button .icon {
  width: 70px;
  height: 40px;
  background-image: url("../../assets/back_to_top.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}

main .back button p {
  margin-bottom: 0;
}

main .banner-swiper {
  width: 100%;
  height: 100%;
}

main .banner-swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
}

main .banner-swiper .swiper-slide {
  width: 100%;
  height: 100%;
}

main .banner-swiper .swiper-slide img {
  display: block;
  max-width: 100%;
}

main .tvshow {
  width: 100%;
  margin-top: 5rem;
  padding: 2rem 5rem;
  background-color: #EEE;
  -webkit-box-shadow: 0px 0px 5px 1px #888888;
          box-shadow: 0px 0px 5px 1px #888888;
}

main .tvshow .switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: none;
}

main .tvshow .switch li {
  margin: 0 1rem;
}

main .tvshow .switch li a {
  text-decoration: none;
  color: #6D1B46;
  font-weight: bold;
}

main .tvshow .switch li a.active {
  border: none;
  background-color: transparent;
  position: relative;
}

main .tvshow .switch li a.active::after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: #6D1B46;
  border-radius: 10px;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
}

main .tv-list {
  display: none;
}

main .tv-list.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
