.program-swiper {
  width: 80vw;
  height: 100%;
}

.program-swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.program-swiper .swiper-pagination {
  bottom: 100px;
}

.program-swiper .swiper-pagination-bullet {
  background-color: #FFF !important;
}

.program-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  background-color: #6D1B46;
}

.program-swiper .swiper-slide {
  height: auto;
  border-radius: 0 0 20px 20px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.program-swiper .swiper-slide img {
  display: block;
  max-width: 100%;
}

.program-swiper .swiper-slide .title {
  color: #FFF;
  background-color: #6D1B46;
  margin-bottom: 0;
  padding: 0.5rem 3rem;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 3px;
}

.program_detail {
  width: 80vw;
  margin: 0 auto;
}

.program_detail .broadcast_time {
  color: #2572BF;
  margin-left: 1.5rem;
  font-size: 1.2rem;
  letter-spacing: 2px;
  position: relative;
}

.program_detail .broadcast_time::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #2572BF;
  position: absolute;
  bottom: -1rem;
  left: 0;
}

.program_detail .detail {
  width: 70%;
  margin-top: 2rem;
  margin-bottom: 10rem;
  line-height: 2;
  letter-spacing: 2px;
  text-align: justify;
  word-wrap: break-word;
}
