.banner {
  margin-bottom: 5rem;
  position: relative;
}

.banner img {
  width: 100vw;
}

.banner .channel {
  font-size: 2.5rem;
  color: #FFF;
  position: absolute;
  bottom: 2rem;
  right: 5rem;
}

.swiper-pagination {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
  text-align: center;
  opacity: 1;
  background-color: #6D1B46;
  margin: 0 0.5rem;
}

.swiper-pagination .swiper-pagination-bullet-active {
  position: relative;
}

.swiper-pagination .swiper-pagination-bullet-active::before {
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  top: calc((100% - 0.5rem) / 2);
  left: calc((100% - 0.5rem) / 2);
}

.tv-list {
  width: 100%;
  margin: 0;
}

.tv-list .card {
  width: 100%;
  border-radius: 20px;
  margin: 1rem 0;
  overflow: hidden;
  text-decoration: none;
  color: #000;
}

.tv-list .card:first-child {
  margin-left: 0;
}

.tv-list .card .card_header, .tv-list .card .card_body, .tv-list .card .card_footer {
  width: 100%;
}

.tv-list .card .card_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #6D1B46;
  color: #FFF;
  padding: 0.5rem 0;
}

.tv-list .card .card_body {
  width: 100%;
  height: calc((100vw - 20rem - 90px) / 3);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tv-list .card .card_footer {
  background-color: #FFF;
  padding: 0 1rem 1rem 1rem;
}

.tv-list .card .card_footer .play_date, .tv-list .card .card_footer .play_intro {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.tv-list .card .card_footer .hr {
  width: 70%;
  height: 2px;
  display: block;
  background-color: #6D1B46;
}

.tv-list .card .card_footer .play_date {
  font-weight: bold;
}

.tv-list .card .card_footer .play_intro .readmore {
  color: #808080;
}
